#default {
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Thin";
    -fx-text-fill: #56a599;
    -fx-text-alignment: center;
}

.chart-title {
    -fx-text-fill: #56a599;
    -fx-font-size: 14px;
}

.axis-label {
    -fx-text-fill: #56a599;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 3px;
}

.chart-legend-item {
    -fx-text-fill: #56a599;
}